@import "./fonts.css";
@import "./normalize.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  padding-left: 40px;
}

html {
  height: 100%;
}

body {
  font-family: "Karla";
  background-color: #e6eff5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin: auto;
  width: 635px;
  height: 475px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 15px 30px 0px #0051ab26;
}

.card {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.card__top_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #2ab3b1;
  margin-bottom: 24px;
}

.card__top_subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.22px;
  color: #c0df33;
}

.card__top_description {
  width: 555px;
  height: 52px;
  margin-top: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #9aa7be;
  margin-bottom: 47px;
}

.card__bottom {
  display: flex;
  height: 259px;
  width: 635px;
  border-bottom-left-radius: 8px;
}

.card__bottom:hover .card__left {
  background-color: #45d6d4;
}

.card__bottom:hover .card__right {
  background-color: #2ab3b1;
}

.card__left {
  display: flex;
  flex-direction: column;
  height: 259px;
  width: 317px;
  background-color: #2ab3b1;
  border-bottom-left-radius: 8px;
}

.card__left_title {
  padding-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.22px;
  color: #ffffff;
  margin-bottom: 18px;
}

.card__left_price {
  display: flex;
  margin-bottom: 4px;
}

.card__left_money {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.card__left_month {
  margin-left: 11px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 4px;
}

.card__left_description {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #ffffff;
}

.card__left_btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.2px;
  width: 237px;
  height: 48px;
  border-radius: 5px;
  background-color: #c0df33;
  box-shadow: 0px 10px 10px 0px #00000019;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.card__right {
  background-color: #45d6d4;
  width: 318px;
  height: 259px;
  border-bottom-right-radius: 8px;
}
.card__right_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.22px;
  color: #ffffff;
  padding-top: 40px;
  margin-bottom: 18px;
}
.card__right_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.17px;
  color: #ffffff;
  opacity: 75%;
  width: 238px;
  height: 140px;
}
